header{
    background-color: rgb(0, 204, 17);
    background-image: url("icones/logo.png");
    background-repeat: no-repeat;
    background-size: 120px;
}
#slogan{
    font-size: 10px;
    margin-left: 55px;
    padding: contain;
    font-weight: bold;
}

footer{
    background-color: rgb(0, 0, 0);
}

header, footer, main{
    padding: 10vh;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background: rgb(81, 71, 71);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

main{

}


#att{
    font-family: Bookman Old Style;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: rgb(0, 204, 17);
}